*{
    
}
.featured-container
{
    height: 90vh;
    width: 100%;
    margin-top: 3vh;
    /* background-color:beige; */  
   
}
.featured-image-container{
    background-color: #071E46; 
    
}
.featured-strip
{
    background-color: orange;
    height:5px;
    width:80px;
    position: absolute;
    top:201vh;
    left:10vw;

}
.featured-title
{
    margin-left:17vw;
    color: #1a1a1a;
    font-size: 40px;
}
.featured-image{
    height:60vh;
    width: 100%;
    object-fit: cover;
    background-color: black;
    opacity: 0.5;
}
.featured-image-slider{
    position: absolute;
    top:215vh;
    margin-left:10vw ;
    background-color: white;
    padding: 20px;
    
}
.featured-contact{
    height:250px;
    width:700px;
    background-color: #071E46;
    color: white;
    position: absolute;
    top:220vh;
    right:7vw ;
    text-align: center;
}
.featured-contact h2{
    font-size: 30px;
    text-align: left;
    margin-left: 6vw;
    font-weight: 600;
}
.featured-contact h4{
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    margin-left: 6vw;
}
.featured-contact input{
    height: 49px;
    width: 360px;
}
.featured-contact button{
    height: 55px;
    width: 140px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-left: 10px;
    
}
.featured-image-slider2{
    padding:50px;
    margin-top: 30px;
}
.featured-looking{
    height: 400px;
    width: 100%;
    background-color: #071E46;
    color: white;
    text-align: center;
    }
    .featured-looking h1{
        font-size: 40px;
        position: absolute;
        top:370vh;
        left:30vw;
    }
    .featured-looking span{
       
    }

.featured-looking button
{   
    color: white;
    padding: 20px;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 30px;
    margin-top: 30vh;
    margin-left: 30px;
    transition: all linear 0.2s;
    }
    .featured-looking button:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .featured-expo{
        width: 100%;
        /* margin-left: 5vw; */
        margin-top: 5vh;
        margin-bottom: 5vh;
        
    }
    .featured-join{
        background-color: black;
        
    }
    .featured-join img{
        height: 550px;
        width: 100%;
        object-fit: cover;
        opacity:0.3;
    }
    .featured-join h1{
        position: absolute;
        top:510vh;
        left:10vw;
        font-size: 40px;
        color: white;

    }
    .featured-join p{
        position:absolute;
        top:527vh;
        left:10vw;
        line-height: 30px;
        font-size: 15px;
        color: white;
    }
    .featured-join button{
        position:absolute;
        height:60px;
        width:180px;
        top:520vh;
        right:25vw;
       text-align: center;
        font-size: 18px;
        color:#FF7902;
        font-weight: 500;
        border-radius: 10px;
        border: 2px solid white;
        background-color: white;
        transition: all linear 0.4s;
    }
    .featured-join button:hover{
        background-color: transparent;
    }